body{
    margin: 0px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}



.box{
    height: 120px;
    width: 120px;
    margin: 20px;
}

.one{
    background-color: $charcoal;
}


.two{
    background-color: $persian-green;
}


.three{
    background-color: $orange-yellow-crayola;
}


.four{
    background-color: $sandy-brown;
    display: flex;
    align-items: center;
    justify-content: center;

    .box--small{
        height: 40px;
        width: 40px;
        background-color: $charcoal;
    }
}


.five{
    background-color: $burnt-sienna;
}


.six{
    background-color: $pewterBlue;
}


.seven{
    background-color: $blackCoral;
}

.eight{
    background-color: $auburn;
}

.nine{
    background-color: $indian-yellow;
}


.poet{
    background-image: url(../images/wislawa.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
    clip-path: polygon(44% 0, 100% 11%, 100% 73%, 23% 100%, 0 49%);
}

.intro{
    height: 900px;
    width: 100%;
    background-color: $medium-champagne;
}

.intro--2{
    @extend .intro;
    background-color: $sandy-brown;
}

.intro--3{
    @extend .intro;
    background-color: $persian-green
}

.intro--4{
    @extend .intro;
    background-color: $rosewood
}


/* ANIMATIONS */
.fade-in, .fade-in--2, .fade-in--3, .fade-in--4 {
    opacity: 0;
    transition: opacity 550ms ease-in;
}

.fade-in.appear, .fade-in--2.appear, .fade-in--3.appear, .fade-in--4.appear{
    opacity: 1
}

.left{
    transform: translateX(-50%);
}

.right{
    transform: translateX(50%);
}

.fade-in--4 {
    transition: transform 550ms ease-in, opacity 550ms ease-in;
}

.fade-in--4.center{
    transform: translateX(0);
}


